
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  

<title>List all Plants</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
</head>
<body>
<div sec:authorize="hasRole('ROLE_ADMIN')">
<div th:replace="fragments/header :: header">...</div>

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">List of Expired Purchase Orders</div>
  <div class="panel-body">

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Issue Date</th>
                <th>Payment Schedule</th>
                <th>Total</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>End Date</th>
                <!--  th>Accept Purchase Ordere</th-->
                <th>Show Plant</th>
                
            </tr>
        </thead>
        <tbody>
            <tr class="table-row" th:each="p : ${POList}">
                <td th:text="${p.issueDate}"></td>
                <td th:text="${p.paymentSchedule}"></td>
                <td th:text="${p.total}"></td>
                <td th:text="${p.status}"></td>
                <td th:text="${p.rentalPeriod.startDate}"></td>
                <td th:text="${p.rentalPeriod.endDate}"></td>
                <!--td th:text="${session.mySessionAttribute}"></td-->
                <td>
                <form style='float:left; padding:5px; height:0px' th:object="${p}" th:method="post" th:action="@{/dashboard/ShowPlant/{plant}(plant=${p._id})}">
                   
                	<button class="btn btn-default btn-xs" type="submit">Show Plant</button>
                </form>
             
                
                </td>
                
            </tr>
        </tbody>
    </table>
    </div>
    </div>
</div>    
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>