<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">RentIt Company</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
            <li class="active"><a href="#" th:href="@{/dashboard/ShowRequestedPlantsInPO}">Purchase Orders</a></li>
            <li><a href="#" th:href="@{/dashboard/depo/dispatch}">Dispatch Plants</a></li>
            <li><a href="#" th:href="@{/dashboard/depo/delivery}">Delivery</a></li>
            <li><a href="#" th:href="@{/dashboard/depo/plantsreturned}">Returned Plants</a></li>            
            <li><a href="#" th:href="@{/dashboard/catalog/form}">Catalog</a></li>
            <li><a href="#" th:href="@{/dashboard/invoice}">Invoice</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- li th:if="${#authorization.expression('!isAuthenticated()')}">
              <a href="/signin" th:href="@{/signin}">Sign in</a>
            </li-->
            <li sec:authorize="isAuthenticated()">
              <a href="/logout" th:href="@{/logout}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
   
      <!--div style="margin-bottom:100px">
      <p></p>
      
      </div-->
      
  </body>
</html>