
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>List all Plants</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">List of Expired Purchase Orders</div>
  <div class="panel-body">

    <table class="table table-bordered table-striped">
        <thead>
            <tr> 
                <th>Purchase Order ID</th>
                <!--th>Site Address</th-->
                <th>Plant Name</th>
                <th>Plant Description</th>
                <th>Plant Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-row" th:each="p : ${plantList}">
                
                <td th:text="${p.poID}"></td>
                <!-- td th:text="${p.po.address}"></td-->
                <td th:text="${p.name}"></td>
                <td th:text="${p.description}"></td>
                <td th:text="${p.price}"></td>
                
                <td>
                <form style='float:left; padding:5px; height:0px' th:object="${p}" th:method="put" th:action="@{/dashboard/returned/{_id}/{po_id}(_id=${p._id}, po_id=${p.poID})}">
                    <!--  input type="hidden" th:field="${p._id}"/>
                    <input type="hidden" th:field="${p.poID}"/-->
                	<button class="btn btn-default btn-xs" type="submit">Returned</button>
                </form>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>